.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius: 4px/*{cornerRadius}*/;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 4px/*{cornerRadius}*/;}
.ui-widget-header {border: 1px solid #92B1C3/*{borderColorHeader}*/;background: #C3D8E4;color: #153D54;font-weight: bold;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    color: #555555;
}
table.dataTable thead th {padding: 2px 8px 3px 8px;border-bottom: 1px solid #d3d3d3;font-weight: bold;cursor: pointer;}
table.dataTable tfoot th {border-top: 1px solid #d3d3d3;padding: 2px 8px 3px 8px;}
.ui-helper-clearfix:after {clear: both;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius: 4px/*{cornerRadius}*/;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius: 4px/*{cornerRadius}*/;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3/*{borderColorDefault}*/;
    background: #e6e6e6;
    font-weight: normal/*{fwDefault}*/;
    color: #555555/*{fcDefault}*/;
}
.dataTables_wrapper .ui-widget-header {padding: 5px;padding-left: 10px;padding-right: 10px;}
.dataTables_length select,.dataTables_filter input{height: 22px !important;padding: 4px 6px;font-size: 12px;color: #555;background-color: #fff;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.dataTables_wrapper label{margin: 0px;}
table.dataTable tr.odd {background-color: #E7E7E7;}
table.dataTable tr.odd td.sorting_1 {background-color: #E4E2E2;}
table.dataTable tr.even {background-color: #FCFCFC;}
table.dataTable tr.even td.sorting_1 {background-color: #F7F6F6; }
.dataTable{border: 1px solid #D3D3D3;}
.odd.row_selected, .even.row_selected {background: #C6D2D8 !important;}
table.dataTable tr.odd.row_selected td.sorting_1 {background-color: #C6D2D8 !important;}
table.dataTable tr.even.row_selected td.sorting_1 {background-color: #C6D2D8 !important;}
.dataTables_paginate a{ padding: 4px;}
.dataTables_paginate,.dataTables_info{margin-top: 5px;float: left;}
div#dtusuariossistema_length {width: 35%;float: left;}
div#dtusuariossistema_filter {width: 65%;float: left;text-align: right;}
.dataTables_info {width: 45%;}
.dataTables_paginate {width: 55%; text-align: right}

table.dataTable thead .sorting {background: url("../images/sort_both.png") no-repeat center right;}
table.dataTable thead .sorting_asc { background: url("../images/sort_asc.png") no-repeat center right;}
table.dataTable thead .sorting_desc {background: url("../images/sort_desc.png") no-repeat center right;}
table.dataTable th{ background-color: #fafafa !important;}
span.DataTables_sort_icon {margin-left: 5px;}
td, th {padding: 2px;padding-left: 5px;}
.opcdt {padding: 2px;width: 20px;height: 20px;text-align: center;margin-right: 4%;}
div#dtusuariossistema_processing {width: 30%;margin-left: 35%;}